.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  text-decoration: none;
  color: white;
  padding: 20px;
}
.custom-search-bar {
  /* Add any additional styles you want to apply to the search bar */
  width: 200px; /* Example width adjustment */
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

.card p {
  font-size: 24px;
  margin: 10px 0;
}

.card span {
  font-size: 14px;
}

.card .positive {
  color: #28a745;
}

.card .negative {
  color: #dc3545;
}
